.Modal{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.848);
    z-index: 5;
}
.Modal .ModalInner{
    min-width: calc(50vw - 2rem);
    max-width: 500px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    background-color: var(--primary100);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 100% !important;


}
.Modal .ModalInner .removerDef{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    background-color: var(--primary200);
    cursor: pointer;
    padding: 5px;
}
.Modal .ModalInner .removerDef svg{
    width: 30px;
    height: 30px;
}