.otherOptions{
    display: block;
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: 1;

}

.otherOptions .open{
    width: fit-content;
    height: fit-content;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
.otherOptions .open svg{
    width: 24px;
    height: 24px;

}
.otherOptions .options{
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: var(--baseBlack1000);
    background-color: var(--primary400);
    animation: openOtherOptions 200ms linear forwards;
    position: absolute;
    left: calc(100% + 5px);
    top: 0;
    border-radius: 10px;
    overflow:hidden;
}
.otherOptions .options.left{
    animation: openOtherOptions 200ms linear forwards;
    left: -220px;
}
.otherOptions .options.top{
    bottom: calc(100% + 10px);
    top: unset;
}
.otherOptions .options.bottom{
    top: calc(100% + 10px);
    bottom: unset;
}
.otherOptions .options >*{
    width: calc(100% - 10px);
    height: fit-content;
    padding: 5px 5px;
    text-align: left;
    cursor: pointer;
    font-size: clamp(10px, 1.2rem, 1.8rem);
}
.otherOptions .options > svg{
    width: 24px;
    height: 24px;

}
.otherOptions .options >*:hover{
    background-color: var(--baseBlack100);
    transition-duration: 200ms;
}

@keyframes openOtherOptions {
    from{
        transform: translateX(-20px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 100%;
    }
}