:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primary200);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --none: rgba(0, 0, 255, 0);
}


body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

*::-webkit-scrollbar{
  display: none;
}
*[data-before]::before{
  content: attr(data-before);
}
*[data-after]::after{
  content: attr(data-after);
}
button:active{
  transform: scale(0.95);
  user-select: none;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
