.carousel {
  width: 100%;
  height: 400px !important;
  position: relative;
  display: flex;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%; /* Change to 100% */
  position: relative; /* Change to relative */
  top: 0;
}

.carousel-item {
  width: 100%;
  min-width: 100%;
  height: 100%; /* Change to 100% */
  background-color: var(--primary400);
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Adjusted to center properly */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(100px);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.carousel-control svg {
  width: 100%;
  height: 100%;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicator {
  width: 2rem;
  height: 10px;
  max-width: 20px;
  max-height: 2dvw;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.indicator.active {
  background-color: white;
}
